*{
    font-family: arial;
}
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner video{
    position: absolute;
    top: 10;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;

}
.banner .content{
    position: relative;
    z-index: 2;

}
#inicio{
    position: relative;
    z-index: 1;

}
.image-block-wrapper{
    position: relative;
    z-index: 1;
}
body{
background-image: url(../Imgs/descarga.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
cursor: url(../Imgs/cursor.png-removebg-preview.png), auto;
margin: 0;
padding: 0;

}
img{
    cursor: url(../Imgs/mano.png-removebg-preview.png), auto;
}
a{
    cursor: url(../Imgs/mano.png-removebg-preview.png), auto; 
}
h1{
    text-align: center;
}
h2{
    color: white;
    text-align: center;
    margin: 25px;
}
h3{
    color: white;
    text-align: center;
    margin: 25px;
}
.Desarrolladora{
    color: white;
    text-align: center;
}
.Titulo{
    color: white;
    text-align: center;
    text-decoration: underline;
}
.Titulo2{
    color: white;
    text-align: center;
    text-decoration: underline;
}
.Desarrollador{
    color: white;
    text-align: center;
}
.Descripcion{
    color: white;
    text-align: center;
}
.Lista{
    color: white;
}
.Muecas{
    text-align: center;
    color: white;
    text-decoration: underline;
}
.Sobrecarga{
    text-align: center;
    color: white;
    text-decoration: underline;
}
.Lista_Amuletos{
    color: white;
    text-align: left;
    text-decoration: underline;
}
.Amuletos{
    color: white;

}
.banner2{
    background-color: crimson;
}
details{
    margin: 25px;
}
table{
    margin-right: 25px;
}
p{
    margin: 25px;
}
